<form [formGroup]="productForm" (ngSubmit)="submitForm()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required>
    </mat-form-field>
    <br />
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description" required></textarea>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput type="number" step="0.01" placeholder="Wholesale Price" formControlName="wholesalePrice" required>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput type="number" step="0.01" placeholder="Retail Price" formControlName="retailPrice" required>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput type="number" placeholder="Quantity" formControlName="quantity" required>
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">Submit</button>
  </form>
  